<h4>Stackblitz Angular Collection App Links</h4>

<a target="_blank" href="https://www.linkedin.com/in/pierrenédélec/">By Pierre Nédélec</a>


<ul class="list-group list-group-flush" *ngFor='let elem of lienService.list | async'>

	<li class="list-group-item d-flex justify-content-between align-items-center  list-group-item-dark">
		<span appLogo>{{ elem.category }}</span>
  
		<span class="badge badge-light badge-pill">
      
      {{elem.liens.length}}</span>
	</li>

	<li class="list-group-item link " *ngFor="let lien of elem.liens" (click)="lien.open()">
		{{lien.name}}

	</li>

</ul>